body {
    text-align: center;
}

.calc {
    display: inline-block;
}

.input-area {
    text-align: center;
}

#input {
    width: 275px;
    height: 50px;
    margin: 20px;
    display: inline-block;
}

#function {
    width: inherit;
    height: inherit;
}

#backspace {
    width: 56px;
    height: 50px;
    display: inline-block;
}

.buttons {
    text-align: center;
}

.numbers {
    display: inline-block;
}

.operators {
    display: inline-block;
}

#divide-icon {
    image-rendering: crisp-edges;
    width: 24px;
    height: 24px;
}

.function-button {
    width: 56px;
    height: 50px;
}