body {
    text-align: center;
}

.calc {
    display: inline-block;
    background-color: #2e2e2e;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.input-area {
    text-align: center;
}

#input {
    width: 275px;
    height: 50px;
    margin: 20px;
    display: inline-block;
}

#function {
    width: inherit;
    height: inherit;
    background-color: #79ecf5;
    border-radius: 7px;
    font-size: 18pt;
    font-family: monospace;
    outline: none;
    text-align: center;
}

#backspace {
    width: 56px;
    height: 50px;
    display: inline-block;
    background-color: transparent;
    outline: none;
}

#backspace-icon {
    color: #d3c9c9;
}

button {
    margin: 2px;
    border-radius: 25px;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    font-family: 10pt;
}

button:hover {
    opacity: 0.75;
}

.buttons {
    text-align: center;
}

.digs {
    background-color: #8a7d7d;
    color: white;
    font-size: 15pt;
}

.numbers {
    display: inline-block;
    height: 236px;
}

.operators {
    display: inline-block;
    height: 236px;
    vertical-align: top;
}

#open-parenthesis, #close-parenthesis {
    font-size: 15pt;
}

#divide-icon {
    image-rendering: crisp-edges;
    width: 24px;
    height: 24px;
}

.operation-button {
    width: 56px;
    height: 50px;
    margin: 4px 2px;
    background-color: #ef8b22;
}

#clear {
    display: inline-block;
    width: 56px;
    height: 50px;
    font-size: 15pt;
    margin: 4px 2px;
    background-color: #d3c9c9;
    vertical-align: top;
}